<div id="title-container">
	<h1>{{title}}</h1>
	<p>cogs 121 visualization</p>
</div>
<div id="button-container">
	<button class="btn btn-default">Button 1</button>
	<button class="btn btn-default">Button 2</button>
	<button class="btn btn-default">Button 3</button>
</div>
<div id="map"></div>
<div id="slider">
	<img style="width:100%" src="/images/horizontal-basic.png" />
</div>

<script src="/javascripts/visualization.js"></script>
