<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <title>{{title}}</title>

    <link rel='stylesheet' href='/stylesheets/jquery-ui.min.css' />
    <link rel='stylesheet' href='/stylesheets/jquery-ui.theme.min.css' />
    <link rel='stylesheet' href='/stylesheets/jquery-ui.structure.min.css' />
    <link rel='stylesheet' href='/stylesheets/jquery.ui.labeledslider.css' />

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css' /> 


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="/javascripts/jquery-ui.min.js"></script>
    <script src="/javascripts/jquery.ui.labeledslider.js"></script>

    <!-- 
        You need to include this script tag on any page that has a Google Map.

        The following script tag will work when opening this example locally on your computer.
        But if you use this on a localhost server or a live website you will need to include an API key. 
        Sign up for one here (it's free for small usage): 
            https://developers.google.com/maps/documentation/javascript/tutorial#api_key

        After you sign up, use the following script tag with YOUR_GOOGLE_API_KEY replaced with your actual key.
            <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_GOOGLE_API_KEY&sensor=false"></script>
    -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDi-kNKUXv3eofIsk2DqRcf0yVU86DmOfw&sensor=false"></script>
    <script type="text/javascript" src="http://mbostock.github.com/d3/d3.js?1.29.1"></script>
    <script src="javascripts/googlemaps.js"></script>
    <script src="//js.leapmotion.com/0.2.0/leap.min.js"></script>
    <script src="/javascripts/curtsy.js"></script>

    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

    <body>
      <header>
        <div class="container">
          <div id="title" class="page-header">
            <div>
            <i class="fa fa-skyatlas fa-3x"></i>
              <div class="vertical-line"/ ><h1>{{title}}</h1> 
            </div>
          <div><big>air pollution visualization</big></div>
          </div>
        </div>
      </header>

    <div class="container">

      <div id="main-row" class="row">
        <div class="col-md-8">
        <!-- The element that will 
        contain our Google Map. This is used in both the Javascript and CSS above. -->
          <div id="map"></div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-12"><div id="slider"></div></div>
          </div>
          <div id="time-div" class="row">
            <div id="the-time" class="col-md-12">
              <big>Pollutant averages from 12AM to 1AM</big>
            </div>
          </div>
          <div id="tab-div" class="row">
            <div class="col-md-12">
              <ul id="data-tabs" class="nav nav-tabs">
                <li id="CO AQI" role="presentation" class="datatype_select active"><a href="#">AQI</a></li>
                <li id="CO" role="presentation" class="datatype_select"><a href="#">CO</a></li>
                <li id="NO2" role="presentation" class="datatype_select"><a href="#">NO2</a></li>
                <li id="O3" role="presentation" class="datatype_select"><a href="#">Ozone</a></li>               
              </ul>
            </div>
          </div>
          <div id="table-div" class="row">
            <div class="col-md-12">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Measurement</th>
                    <th>Reading</th>
                  </tr>
                </thead>
                <tbody>
                  <tr id="table_AQI">
                    <th scope="row"><a href="#">Air Quality Index</a></th>
                    <td>--</td>
                  </tr>
                  <tr id="table_CO">
                    <th scope="row"><a href="#">Carbon monoxide</a> <small>(ppm)</small></th>
                    <td>--</td>
                  </tr>
                  <tr id="table_NO2">
                    <th scope="row"><a href="#">Nitrous Oxide</a> <small>(ppb)</small></th>
                    <td>--</td>
                  </tr>
                  <tr id="table_O3">
                    <th scope="row"><a href="#">Ozone</a> <small>(unknown)</small></th>
                    <td>--</td>
                  </tr>
                </tbody>
              </table>
              <center><span id="table_coords"><small>(32.845, -117.195)</small></span></center>
              <br>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12"><hr></div>
      </div>

    </div>
    <script type="text/javascript">
      controller = new Leap.Controller({ enableGestures:true }),

      controller.on('frame', function(frame) {
        if (frame.gestures.length) {
        var gesture = frame.gestures[0];
          if (gesture.type == 'circle') {
            console.log('circle', direction(gesture).type);
            if(direction(gesture).type == 'Clockwise')
            {
               // move one hour ahead
            }
            else
            {
              // move one hour back
            }
          }
        }
      });


      // init
      controller.on('ready', function() { console.log('ready'); });
      controller.connect();
      console.log('\nWaiting for device to connect...');
    </script>
    <script src="/javascripts/visualization.js"></script>
    </body>
</html>