<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <title>{{title}}</title>

    <link rel='stylesheet' href='/stylesheets/jquery-ui.min.css' />
    <link rel='stylesheet' href='/stylesheets/jquery-ui.theme.min.css' />
    <link rel='stylesheet' href='/stylesheets/jquery-ui.structure.min.css' />
    <link rel='stylesheet' href='/stylesheets/jquery.ui.labeledslider.css' />

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css' /> 


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="/javascripts/jquery-ui.min.js"></script>
    <script src="/javascripts/jquery.ui.labeledslider.js"></script>
    <!-- 
        You need to include this script tag on any page that has a Google Map.

        The following script tag will work when opening this example locally on your computer.
        But if you use this on a localhost server or a live website you will need to include an API key. 
        Sign up for one here (it's free for small usage): 
            https://developers.google.com/maps/documentation/javascript/tutorial#api_key

        After you sign up, use the following script tag with YOUR_GOOGLE_API_KEY replaced with your actual key.
            <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_GOOGLE_API_KEY&sensor=false"></script>
    -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDi-kNKUXv3eofIsk2DqRcf0yVU86DmOfw&sensor=false"></script>
    <script type="text/javascript" src="http://mbostock.github.com/d3/d3.js?1.29.1"></script>
    <script src="javascripts/googlemaps.js"></script>
    <script src="//js.leapmotion.com/0.2.0/leap.min.js"></script>


    <script src="javascripts/modernizr.custom.js"></script>


    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>

    <body class="color-overlay">
      <div id="ip-container" class="ip-container">
      <!-- initial header -->
      <header class="ip-header">
        <h1 class="ip-logo" style="text-align:center; border-bottom: 1px solid #eee;">
          <div style="border-bottom: 1px solid #eee;">
          <svg class="ip-inner" style="position: initial;"
           width="20%" height="20%" viewBox="0 0 3448.000000 494.000000"
           preserveAspectRatio="xMidYMid meet">
          
          <g transform="translate(0.000000,494.000000) scale(0.100000,-0.100000)"
          fill="#000000" stroke="none">
          <path d="M4470 4933 c-277 -29 -635 -162 -885 -328 -105 -70 -259 -214 -320
          -300 -78 -110 -81 -181 -9 -244 70 -62 108 -53 267 62 314 228 441 291 698
          349 92 20 129 23 319 23 183 -1 230 -4 316 -23 152 -33 246 -66 389 -137 159
          -79 269 -160 401 -297 200 -208 317 -426 376 -701 18 -84 22 -136 22 -292 0
          -168 -3 -205 -27 -325 -42 -209 -32 -290 41 -352 77 -64 159 -62 382 11 220
          71 276 83 410 82 138 0 235 -22 359 -81 250 -120 428 -333 497 -595 29 -108
          26 -370 -5 -485 -118 -444 -534 -708 -1043 -661 -68 6 -156 18 -197 27 -337
          71 -691 284 -1021 614 -148 148 -234 247 -588 680 -515 628 -741 881 -1010
          1134 -550 515 -1156 768 -1847 768 -385 1 -720 -86 -1029 -267 -160 -93 -257
          -167 -390 -295 -230 -223 -381 -462 -481 -764 -62 -186 -86 -324 -92 -542 -10
          -339 47 -635 177 -911 208 -442 644 -812 1155 -982 222 -74 403 -101 670 -101
          196 0 301 9 470 41 555 103 1049 331 1499 693 118 95 288 274 316 332 57 117
          -65 236 -183 179 -18 -8 -81 -56 -140 -105 -359 -298 -850 -520 -1350 -610
          -511 -92 -975 -12 -1342 232 -107 71 -267 232 -338 339 -169 256 -235 507
          -224 849 14 402 128 682 381 936 198 199 426 313 726 364 681 114 1273 -102
          1878 -684 217 -210 373 -391 780 -911 147 -187 318 -400 380 -475 593 -708
          1038 -1020 1630 -1147 118 -26 144 -27 367 -27 268 0 348 11 552 79 565 188
          957 691 1003 1286 27 359 -60 682 -254 939 -79 106 -257 278 -357 347 -160
          110 -360 191 -564 229 -179 34 -463 26 -738 -21 l-28 -5 7 203 c4 134 3 234
          -5 297 -79 642 -406 1113 -953 1375 -295 141 -575 207 -871 203 -78 0 -158 -3
          -177 -5z"/>
          <path d="M13760 2350 l0 -2160 75 0 75 0 0 2160 0 2160 -75 0 -75 0 0 -2160z"/>
          <path d="M26937 4503 c-4 -3 -7 -37 -7 -75 l0 -68 1638 2 1637 3 0 70 0 70
          -1631 3 c-897 1 -1634 -1 -1637 -5z"/>
          <path d="M14965 4488 c-3 -7 -4 -976 -3 -2153 l3 -2140 75 0 75 0 0 2150 0
          2150 -73 3 c-52 2 -74 -1 -77 -10z"/>
          <path d="M15484 4487 c-3 -8 -4 -41 -2 -73 l3 -59 660 -6 c447 -4 681 -10 725
          -18 120 -22 210 -51 298 -95 392 -198 582 -519 582 -986 0 -394 -137 -675
          -435 -890 -208 -150 -363 -190 -775 -199 -290 -7 -269 2 -225 -97 l24 -54 195
          0 c302 0 501 34 673 115 228 107 454 318 563 526 91 175 130 353 130 600 0
          376 -100 635 -343 886 -169 174 -342 269 -612 335 -87 21 -111 22 -773 25
          -581 3 -683 2 -688 -10z"/>
          <path d="M10864 4433 c-84 -189 -941 -2239 -952 -2276 -4 -16 2 -18 74 -15
          l78 3 441 1058 c243 581 445 1060 448 1064 4 3 11 -7 17 -23 43 -113 387 -936
          1105 -2645 261 -619 488 -1162 505 -1205 17 -43 43 -105 57 -137 l26 -57 74 0
          75 0 -6 25 c-9 35 -475 1153 -1066 2555 -266 630 -518 1231 -561 1337 -42 105
          -97 232 -120 282 l-42 91 -64 0 -63 0 -26 -57z"/>
          <path d="M18695 4478 c-3 -7 -4 -976 -3 -2153 l3 -2140 70 0 70 0 0 2150 0
          2150 -68 3 c-48 2 -69 -1 -72 -10z"/>
          <path d="M19308 4484 c-5 -4 -8 -38 -8 -76 l0 -68 369 0 c397 0 567 -9 719
          -40 263 -53 531 -174 747 -337 587 -441 870 -1016 842 -1708 -22 -525 -193
          -925 -562 -1313 -307 -322 -642 -500 -1100 -583 -107 -20 -167 -23 -565 -28
          l-445 -6 0 -70 0 -70 390 -3 c447 -3 582 8 798 62 536 136 978 453 1293 928
          398 601 453 1405 140 2064 -129 271 -217 398 -419 603 -349 357 -744 556
          -1237 627 -86 12 -220 18 -535 21 -231 3 -423 1 -427 -3z"/>
          <path d="M24372 4328 c-129 -299 -912 -2173 -912 -2184 0 -2 35 -4 78 -4 l77
          0 444 1065 c245 586 448 1062 452 1058 4 -5 37 -82 74 -172 89 -219 591 -1419
          1085 -2591 221 -525 424 -1011 451 -1078 27 -68 61 -146 74 -173 l25 -49 75 0
          75 0 -21 53 c-77 196 -393 951 -1069 2557 -263 624 -515 1225 -560 1335 -45
          110 -97 233 -115 272 l-34 73 -64 0 -65 0 -70 -162z"/>
          <path d="M32407 4148 c-105 -249 -780 -1861 -834 -1995 -4 -10 15 -13 74 -13
          l80 0 444 1065 c244 586 446 1065 449 1065 3 0 27 -55 54 -123 62 -156 546
          -1311 1089 -2602 233 -556 448 -1068 477 -1140 29 -72 61 -147 72 -168 l18
          -37 75 0 c41 0 75 2 75 4 0 14 -505 1224 -1225 2931 -183 435 -369 880 -415
          990 -45 110 -99 237 -120 283 l-39 82 -64 0 -64 0 -146 -342z"/>
          <path d="M28502 3912 c-10 -7 -12 -385 -10 -1858 l3 -1849 70 0 70 0 0 1855 0
          1855 -60 3 c-33 1 -66 -2 -73 -6z"/>
          <path d="M15492 2151 c-9 -5 -12 -27 -10 -72 l3 -64 60 -8 c245 -31 395 -90
          555 -220 30 -25 428 -394 885 -821 l829 -776 110 0 c95 0 108 2 96 14 -425
          405 -1822 1700 -1865 1727 -182 118 -394 203 -549 219 -109 12 -98 11 -114 1z"/>
          <path d="M9900 1528 c-85 -12 -188 -48 -251 -89 -40 -25 -56 -44 -76 -88 -35
          -78 -483 -1142 -483 -1147 0 -2 35 -4 78 -4 l77 0 189 453 c104 248 208 493
          231 543 45 98 72 125 161 166 l49 23 903 3 c496 1 902 5 902 7 0 3 -21 37 -46
          75 l-47 70 -811 -1 c-446 -1 -840 -6 -876 -11z"/>
          <path d="M23455 1529 c-80 -11 -199 -54 -257 -92 -56 -37 -42 -8 -310 -647
          -94 -223 -187 -445 -208 -495 l-38 -90 75 -3 c41 -2 77 -1 79 1 2 2 103 238
          223 525 121 287 229 534 241 549 27 35 92 79 139 95 27 9 257 13 934 16 791 2
          898 4 893 18 -3 8 -24 41 -46 74 l-41 60 -812 -1 c-447 -1 -839 -5 -872 -10z"/>
          <path d="M31565 1529 c-109 -16 -249 -74 -293 -122 -11 -12 -55 -103 -97 -202
          -145 -338 -415 -986 -415 -996 0 -6 31 -9 76 -7 l76 3 218 520 c251 599 252
          601 384 649 21 7 315 12 934 16 l903 5 -48 70 -48 70 -815 1 c-448 1 -842 -2
          -875 -7z"/>
          </g>
          </svg>
          <span style="  position: absolute;  margin-top: -60px; margin-left: -210px; ">
          air pollution visualization
          </span>

          
          

          </div>
        </h1>
        
        
        <div class="ip-loader">
          <svg class="ip-inner" width="60px" height="60px" viewBox="0 0 80 80">
            <path class="ip-loader-circlebg" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z"/>
            <path id="ip-loader-circle" class="ip-loader-circle" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z"/>
          </svg>
        </div>
      </header>
    </div>

    <div class="container" style="padding-top:  200px;">

      <div id="main-row" class="row">
        <div class="col-md-8">
        <!-- The element that will 
        contain our Google Map. This is used in both the Javascript and CSS above. -->
          <div id="map"></div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-12"><div id="slider"></div></div>
          </div>
          <div id="time-div" class="row">
            <div id="the-time" class="col-md-12">
              <big>Pollutant averages from 12AM to 1AM</big>
            </div>
          </div>
          <div id="tab-div" class="row">
            <div class="col-md-12">
              <ul id="data-tabs" class="nav nav-tabs">
                <li id="CO AQI" role="presentation" class="datatype_select active"><a href="#">AQI</a></li>
                <li id="CO" role="presentation" class="datatype_select"><a href="#">CO</a></li>
                <li id="NO2" role="presentation" class="datatype_select"><a href="#">NO2</a></li>
                <li id="O3" role="presentation" class="datatype_select"><a href="#">Ozone</a></li>               
              </ul>
            </div>
          </div>
          <div id="table-div" class="row">
            <div class="col-md-12">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Measurement</th>
                    <th>Reading</th>
                  </tr>
                </thead>
                <tbody>
                  <tr id="table_AQI">
                    <th scope="row"><a href="#" data-toggle="popover" data-content="AQI tells you how polluted the air is. Values of 0-100 are generally safe. Past 100 and sensitive people will experience symptoms. Past 150 and the air quality is very poor!" data-placement="left" data-trigger="hover">Air Quality Index</a></th>
                    <td>--</td>
                  </tr>
                  <tr id="table_CO">
                    <th scope="row"><a href="#" data-toggle="popover" data-content="CO is a colorless, odorless pollutant that can cause headache, dizziness, vomiting, and nausea. Consistent exposure to CO is linked with increased risk of heart disease. 35ppm is the maximum recommended for workplace exposure. Anything beyond that and you're doing harm to your body." data-placement="left" data-trigger="hover">Carbon monoxide</a> <small>(ppm)</small></th>
                    <td>--</td>
                  </tr>
                  <tr id="table_NO2">
                    <th scope="row"><a href="#" data-toggle="popover" data-content="NO2 exposure is linked with adverse respiratory effects in both healthy and asthmatic individuals. It is more concentrated in vehicles and near busy roadways. Values higher than 100ppb should be avoided when possible" data-placement="left" data-trigger="hover">Nitrous Oxide</a> <small>(ppb)</small></th>
                    <td>--</td>
                  </tr>
                  <tr id="table_O3">
                    <th scope="row"><a href="#" data-toggle="popover" data-content="Moderate-to-high levels of ground-level ozone are linked with respiratory issues like chest pain or coughing. Exposure can worsen symptoms of those already experiencing them. Repeated exposure can lead to permanent lung damage. Avoid areas marked red with values higher than 0.075" data-placement="left" data-trigger="hover">Ozone</a> <small>(unknown)</small></th>
                    <td>--</td>
                  </tr>
                </tbody>
              </table>
              <center><span id="table_coords"><small>(32.845, -117.195)</small></span></center>
              <br>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10"></div>
        <div class="col-md-2" id="leap_help"><a id="helpclick" href="#">LeapMotion Help</a></div>
      </div>
      <div class="row">
        <div class="col-md-12"><hr></div>
      </div>

    </div>


    

    <script src="/javascripts/visualization.js"></script>

    <!-- Needed for on-load animations -->
    <script src="/javascripts/classie.js"></script>
    <script src="/javascripts/pathLoader.js"></script>
    <script src="/javascripts/main.js"></script>
    <!-- Needed for Leap Motion Gestures -->
    <script src="/javascripts/leap-0.6.4.js"></script>
    <script src="/javascripts/leap-plugins-0.1.10.min.js"></script>
    <script src="/javascripts/leap-plugins-0.1.10-utils.min.js"></script>
    <script src="/javascripts/gestures.js"></script>


    <!--
      <script src='/bootstrap/dist/js/bootstrap.min.js'></script>
    -->

    <div id="dialog-message" title="Leapmotion Guide">
      <br>
      <p>
        Point: with either hand, point with index finger and move
      </p>
      <p>
        Drag: with either hand, clench fist and move
      </p>
      <p>
        Zoom: with both hands, clench fists and expand/collapse
      </p>
      <p>
        Change time: with one hand, point with index finger and make a circle
      </p>
      <p>
        Change data: with one hand, swipe left or right
      </p>
    </div>


    </body>
</html>