<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <title>{{title}}</title>

    <link rel='stylesheet' href='/stylesheets/jquery-ui.min.css' />
    <link rel='stylesheet' href='/stylesheets/jquery-ui.theme.min.css' />
    <link rel='stylesheet' href='/stylesheets/jquery-ui.structure.min.css' />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css' /> 


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="/javascripts/jquery-ui.min.js"></script>

    <!-- 
        You need to include this script tag on any page that has a Google Map.

        The following script tag will work when opening this example locally on your computer.
        But if you use this on a localhost server or a live website you will need to include an API key. 
        Sign up for one here (it's free for small usage): 
            https://developers.google.com/maps/documentation/javascript/tutorial#api_key

        After you sign up, use the following script tag with YOUR_GOOGLE_API_KEY replaced with your actual key.
            <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_GOOGLE_API_KEY&sensor=false"></script>
    -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDi-kNKUXv3eofIsk2DqRcf0yVU86DmOfw&sensor=false"></script>
    <script type="text/javascript" src="http://mbostock.github.com/d3/d3.js?1.29.1"></script>
    <script src="javascripts/googlemaps.js"></script>

    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

    <body>
      <header>
        <div class="container">
          <div id="title" class="page-header">
            <div>
            <i class="fa fa-skyatlas fa-3x"></i>
              <div class="vertical-line"/ ><h1>{{title}}</h1> 
            </div>
          <div><big>pollution data visualization</big></div>
          </div>
        </div>
      </header>

    <div class="container">

      <div id="main-row" class="row">
        <div class="col-md-8">
        <!-- The element that will 
        contain our Google Map. This is used in both the Javascript and CSS above. -->
          <div id="map"></div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-12"><div id="slider"></div></div>
          </div>
          <div id="time-div" class="row">
            <div class="col-md-8"></div>
            <div id="the-time" class="col-md-4">
              Time: 00:00
            </div>
          </div>
          <div id="tab-div" class="row">
            <div class="col-md-12">
              <ul id="data-tabs" class="nav nav-tabs">
                <li role="presentation" class="active"><a href="#">All Data</a></li>
                <li role="presentation"><a href="#">CO</a></li>
                <li role="presentation"><a href="#">NO2</a></li>
                <li role="presentation"><a href="#">Ozone</a></li>
                <li role="presentation"><a href="#">AQI</a></li>                
              </ul>
            </div>
          </div>
          <div id="table-div" class="row">
            <div class="col-md-12">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Data</th>
                    <th>Reading</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Latitude</a><small> (degrees)</small></th>
                    <td>23.32345</td>
                  </tr>
                  <tr>
                    <th scope="row">Longitude <small>(degrees)</small></th>
                    <td>23.32345</td>
                  </tr>
                  <tr>
                    <th scope="row"><a href="#">Carbon monoxide</a> <small>(ppm)</small></th>
                    <td>23.32345</td>
                  </tr>
                  <tr class="warning">
                    <th scope="row"><a href="#">Nitrous Oxide</a> <small>(ppb)</small></th>
                    <td>23.32345</td>
                  </tr>

                  <tr class="danger">
                    <th scope="row"><a href="#">Ozone</a> <small>(unknown)</small></th>
                    <td>23.32345</td>
                  </tr>

                  <tr class="success">
                    <th scope="row"><a href="#">Air Quality Index</a></th>
                    <td>23.32345</td>
                  </tr>


                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12"><hr></div>
      </div>

    </div>

    <script src="/javascripts/visualization.js"></script>
    <!--
      <script src='/bootstrap/dist/js/bootstrap.min.js'></script>
    -->
    </body>
</html>