div.vertical-line{
  width: 1px; /* Line width */
  background-color: #eee; /* Line color */
  height: 30%;
  display:inline-block; /* Override in-line if you want specific height. */
/* Causes the line to float to left of content. 
    You can instead use position:absolute or display:inline-block
    if this fits better with your design */
}


@font-face {
  font-family: "Neon";
  src: url(neon.ttf) format("truetype");
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

html, body {
  width: 100%;
  height: 100%;
}

header
{
}

header div#title i
{
  color:#00BFFF;
  margin-top: -26.5px;
  margin-right: 3px;
}

header div#title h1
{
  margin-left: 6px;
  display: inline;
  font-size: 45px;
  color: #00BFFF;
  font-family: "Neon", sans-serif;
}

header div#title big
{
  display: block;
  font-size: 22px;
  color: #58585a;
}


header div#tagline
{
  text-align: left;
  font-size: 18px;
  color: #58585a;
}

div.data_columns
{
  float: left;
  width: 72%;
}
p#mission_statement
{
  text-align: right;
  color: #424242;
}
#map {
  width: 100%;
	clear: both;
}

div#right_column
{
  width: 25%;
  margin-left: 3%;
}
div#piechart
{
  margin-top: 30px;
}
#title-container {
	float: left;
}

#button-container {
	float: right;
}

.stations, .stations svg {
  position: absolute;
}

.stations svg {
  width: 100px;
  height: 100px;
  padding-right: 100px;
  font: 10px sans-serif;
}

.stations circle {
  fill: rgba(115, 33, 114, 0.0);
  stroke: rgba(115, 0, 111, 0.0);
  stroke-width: 1.5px;
}

/* Set a size for our map container, the Google Map will take up 100% of this container */
#map {
  height: 500px;
}